<header>
  <nav class="navbar navbar-expand-md navbar-light" style= "background-color: #FDCAA0  ;">
    <a class="navbar-brand" href="/">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
      <% if(tempVariable.user){ %>
      <form action="/logout" method = "POST">
        <span class = "lead">Logged As: <%= tempVariable.user.email%></span>    <button type="submit" class="btn btn-warning mt-4">Log Out</button>
      
      </form>
    
    <% }else{ %>

    <form action="/login" method = "GET">
     
      <button type="submit" class="btn btn-primary mt-4">Log In</button>
    
    </form>
    <form action="/register" method = "GET">
      
      <button type="submit" class="btn btn-success mt-4">Register</button>
    
    </form>
  
  <% } %> 

   
    

    
    
 
  </nav>
    
</header>