<%- include('partials/_header') %>

  <div class="card text-center">
    <div class="card-header">
      Welcome to the tiny App - Project
    </div>
    <div class="card-body">
      <h5 class="card-title">if you have an account..just logIn</h5>
      <p class="card-text">Or Create your account and build some urls...</p>
      
    </div>
    <div class="card-footer text-muted">
      &copy; Jang Walia-2021
    </div>
  </div>
  <%- include('partials/_footer') %>
  

   